*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif ;
    background-color: black;
}

::-webkit-scrollbar {
    display: none; /*chrome*/
  }

.header{
    width: 100%;
    height: 75px;
    padding-right: 20px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header p{
    color: white;
    font-size: 30px;
}

.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro a{
    font-weight: 800;
    font-size: 40px;
    text-decoration: none;
    color: white;
    letter-spacing: 8px;
}

.logo{
    width: 631px;
    height: 665px;
}

.intro__left{
    position: fixed;
    background-color: transparent;
    left: 30px;
}

.intro__right{
    position: fixed;
    background-color: transparent;
    right: 30px;
}


.content__text{
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.content__spices{
    display: flex;
    justify-content: center;

}

.pepper{
    height: 690px;
    width: 350px;
    margin-top: -60px;
    z-index: 2;
    background-color: transparent;
}

.normalTxt{
    color: white;
    font-size: 30px;
}

.redWord{
    color: #B63B14;
    font-size: 70px;
    font-weight: 800;
    line-height: 106px;
}

.outro{
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

.outroText{
    padding: 50px;
}

.footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 1006px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.plate{
    width: 465px;
    height: 609px;
}

.cover{
    width: 1006px;
    height: 382px;
}

.marg{
    margin-bottom: 30px;
}

